

*{box-sizing: border-box;}

body{
    background-color: rgba(0,0,0,0.05);
    font-family: Arial, Helvetica, sans-serif;
}

.main_container{
    display: grid;
    width: 100%;
    height: 1000px;
    grid-template-rows: 7% 5% 88%;
    


}

.header{
   
    display: grid;
    grid-template-columns: 30% 40% 30%;

}

.header_text{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(45, 166, 170);

}

form{
    grid-area: 1/3;
    display:flex;
    justify-content: center;
    align-items: center;
}
    
#location{
    width:300px;
    height: 25px;
    display: inline-block;
    
}

.lens_unicode{
    position: relative;
    right:25px;
    
}

.menu{
    background-color: rgba(0,0,0,0.7);
    display: grid;
    grid-template-columns: 5% 15% 20% 60%;
}

.menu_today{
    grid-area: 1/2;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
}
.menu_5day{
    grid-area:1/3;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
}

.info_block{
    background-color: rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 0.1% 24.9% 42% 24%;
    row-gap: 2%;
}

.current_weather{
    grid-area:2/2 ;
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 25%, repeat(5,15%);

}
.first_block_header{
    grid-area: 1/1;
    font-size: 20px;
    font-weight: bold;
    color:rgb(45, 166, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}
.condition{
    grid-area: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.condition img{
    position: relative;
    top: -25px;
    left: 20px;
}
.condition_description{
    position: relative;
    top: 10px;
    left: -25px;
    font-size: 17px;
    font-weight: 200;
    color:grey;
}
.temperature {
    grid-area: 2/3;
    display: inline-block;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
}
.real_feel{
    grid-area: 2/3;
    display: inline-block;
    height: 30px;
    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:grey;
}
ul{
    grid-area: 2/5;
    list-style: none;
    position: relative;
    top:-25px;
}
ul li{
    margin:15px;
}
.current_date{
    grid-area: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color:rgb(45, 166, 170);
}
.hourly{
    grid-area: 3/2;
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-rows: 12% 88%;
}
table{
    text-align: left;
    margin-bottom: 20px;
    position: relative;
    left: 7%;
}
th:first-child{
    width: 200px;
}
.second_block_header{
    font-size: 20px;
    font-weight: bold;
    color:rgb(45, 166, 170);
    width:384.02px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    left: 5.5%;
    top: 5px;
}

.nearby_places{
    grid-area: 4/2;
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-rows: 20% 80%;
}
.third_block_header{
    font-size: 20px;
    font-weight: bold;
    color:rgb(45, 166, 170);
    position: relative;
    top: 15px;
    left: 6%;
}

.cities{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 45% 45%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.city1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 50px;
    background-color: rgb(219, 219, 219);
    position: relative;
    left: 14%;
}
.city1_name{
    display: inline-block;
    position: relative;
    left: -150px;
}
.weather_icon1{
    display: inline-block;

}
.temp1{
    display: inline-block;
    position: relative;
    left: 100px;
}
.city2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 50px;
    background-color: rgb(219, 219, 219);
    position: relative;
    left: 6%;
}

.city2_name{
    display: inline-block;
    position: relative;
    left: -150px;
}
.weather_icon2{
    display: inline-block;
    position: relative;
    left: 4.5%;
}
.temp2{
    display: inline-block;
    position: relative;
    left: 100px;
}
.city3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 50px;
    background-color: rgb(219, 219, 219);
    position: relative;
    left: 14%;
    top: -20px;
}

.city3_name{
    display: inline-block;
    position: relative;
    left: -150px;
    
}
.weather_icon3{
    display: inline-block;
    position: relative;
    left: 5px;
}
.temp3{
    display: inline-block;
    position: relative;
    left: 105px;
}
.city4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 50px;
    background-color: rgb(219, 219, 219);
    position: relative;
    left: 6%;
    top: -20px;
}
.city4_name{
    display: inline-block;
    position: relative;
    left: -22.5%;
}
.weather_icon4{
    display: inline-block;
}
.temp4{
    display: inline-block;
    position: relative;
    left: 13.5%;
}